name: Deploy server

on:
  push:
	branches:
  	- main
	paths:
  	- 'server/**'
  	- 'client/**'

jobs:
  build_server:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.event_path | contains('server/')
	  steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}     
      - name: Build Docker Image
        run: docker build -t debashish22/authentique:latest ./server
      - name: Publish Image to Docker Hub
        run: docker push debashish22/authentique:latest 

  deploy_server:
    needs: build
    runs-on: self-hosted 
    if: github.event_name == 'push' && github.event_path | contains('server/')
    steps:
      - name: Pull Image from Docker Hub
        run: docker pull debashish22/authentique:latest || true
      - name: Stop and Remove Old Container
        run: |
          docker stop server-container || true
          docker rm server-container || true
      - name: Run Docker Container
        run: docker run -d -p 8000:8000 --name server-container -e AUTH_TOKEN='${{ secrets.AUTH_TOKEN }}' -e CLIENT_URI='${{ secrets.CLIENT_URI }}' -e DEVICE_TOKEN='${{ secrets.DEVICE_TOKEN }}' -e GOOGLE_AUTH_CLIENT_ID='${{ secrets.GOOGLE_AUTH_CLIENT_ID }}' -e GOOGLE_CLIENT_SECRET='${{ secrets.GOOGLE_CLIENT_SECRET }}' -e GOOGLE_OAUTH_REDIRECT='${{ secrets.GOOGLE_OAUTH_REDIRECT }}' -e JWT_SECRET_KEY='${{ secrets.JWT_SECRET_KEY }}' -e MONGO_DB_URI='${{ secrets.MONGO_DB_URI }}' -e NODEMAILER_HOST='${{ secrets.NODEMAILER_HOST }}' -e NODEMAILER_PASS='${{ secrets.NODEMAILER_PASS }}' -e NODEMAILER_PORT='${{ secrets.NODEMAILER_PORT }}' -e NODEMAILER_SERVICE='${{ secrets.NODEMAILER_SERVICE }}' -e NODEMAILER_USER='${{ secrets.NODEMAILER_USER }}' -e PORT='${{ secrets.PORT }}' -e SALT_ROUNDS='${{ secrets.SALT_ROUNDS }}' -e SESSION_NAME='${{ secrets.SESSION_NAME }}' -e SESSION_SECRET_KEY='${{ secrets.SESSION_SECRET_KEY }}' debashish22/authentique:latest
